.bg{
    background-image: url("../../../../assets/images/rear-view-programmer-working-all-night-long.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.login-form {
    padding: 50px;
    border: 1px solid;
    margin: 50px;
    -webkit-box-shadow: 10px 10px 58px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 58px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 58px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    margin-top:130px;
    width: 450px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #3B3B98;
    margin-top: -20px;
}
h4{
    color: #84817a;
}
.btn{
    width: 100%;
    background-color: #706fd3;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: -10px;
}
.forgot{
    float: right;
}
.not{
    font-weight: 600;
}