<div class="container-fluid bg">
    <div class="row">
     <div class="col-md-4 col-sm-4 col-xs-12">
     </div>
     <div class="col-md-4 col-sm-4 col-xs-12">
        <!--form start-->
        <form class="login-form"> 
            <h3 class=" text-center">CI Institute</h3>
            <h4 class="p-1 text-center"> Forgot Password</h4>
            <div class="mb-3 mt-3 form-group">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
          <!--form end-->
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
    </div>
    </div>
    </div>
