
.full-footer{
    background-color: #2c3e50;
}
h3 {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1abc9c;
}
.top-footer p{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #f6e58d;
    line-height: 22px;
}
.top-footer a{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #f6e58d;
    line-height: 30px;
}
.contact{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #f6e58d;
}
a, a:focus, a:hover, a:visited{
    text-decoration: none;
}
.bottom-footer{
    background-color: #14202b ;
}

.bottom-footer p{
    color: white;
}