<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <span><a href="">Whatsapp us to Learn from India's No.1 Training Company</a></span>
            <h1>Welcome to Career <br>
                Infotech Instiute</h1>
            <h3>Best Online Training Institute in India</h3>
            <button class="btn p-3 rounded-pill"><a href="">Get Free Career Counselling Now</a></button>
            <span class="elementor-button-text"><a href="">All Courses</a></span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row logo">
        <div class="col-2">
            <img src="../../../../assets/images/python-1.svg" alt="">
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/react-1.svg" alt="">
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/angular-1.svg" alt="">
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/css3-1.svg" alt="">
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/html5-1.svg" alt="">
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/js-1.svg" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 sec-1">
            <h6>Top Categories</h6>
            <h2>Popular Courses</h2>
            <button class="btn p-3 rounded-pill"><a href="">View All Courses</a></button>
        </div>
        <div class="col-6 sec-2">
            <span class="border-left info">CI Institute mainly Provide Job Oriented Trainings for College Students and
                Professionals with
                most advanced Technologies & Experience in hand</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row my-card">
        <div class="col-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top"
                    src="../../../../assets/images/Web-Development-Company-USA-removebg-preview.png"
                    alt="Card image cap" height="170px">
                <div class="card-body">
                    <h5 class="card-title text-center p-3">Web Development</h5>
                    <button class="btn p-3 mx-5 rounded-pill"><a href="">View All Courses</a></button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="../../../../assets/images/learn-html5.jpg" alt="Card image cap"
                    height="170px">
                <div class="card-body">
                    <h5 class="card-title text-center p-3">HTML</h5>
                    <button class="btn p-3 mx-5 rounded-pill"><a href="">View All Courses</a></button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="../../../../assets/images/sta-je-css.png" alt="Card image cap"
                    height="170px">
                <div class="card-body">
                    <h5 class="card-title text-center p-3">CSS</h5>
                    <button class="btn p-3 mx-5 rounded-pill"><a href="">View All Courses</a></button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="../../../../assets/images/1_jAwFJjRn0DYRA3fnxrR9PQ.jpeg"
                    alt="Card image cap" height="170px">
                <div class="card-body">
                    <h5 class="card-title text-center p-3">Angular</h5>
                    <button class="btn p-3 mx-5 rounded-pill"><a href="">View All Courses</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <span>
                <h4>Best Online Training Company</h4>
                <p class="cl-info"><a href="" style="text-decoration: none;"> CI Institute </a>is the Best Online Training Company , Best Internship Company . CI Institute is the
                    India’s fastest growing company in the field of Online Trainings , Webinars , Educational Workshops,
                    On Campus Trainings , Professional Trainings & Corporate Trainings with most advanced technologies &
                    experience in hand. <br>

                    Being into Service Industry we understand our clients requirements & provide them best services from
                    our end. <br>

                    CI Institute is the Best Online Training Company for College Students and Professionals . CI
                    Institute awarded as India’s No.1 Online Training Company in LOCKDOWN due to COVID-19 . CI Institute
                    provides Training in different Fields of Education Like For B.Tech Students , M.Tech Students , BCA
                    Students , BBA Students , MCA Students , MBA Students , B.Com Students , B.A. Students , IT
                    Professionals , Corporate Trainings , On-Campus College Trainings , Online Webinars etc.<br>

                    CI Institute offers Best IT Software Training and Placement in Technologies like Python Training in
                    Delhi/NCR , Machine Learning Training in Delhi/NCR , Data Science Training in Delhi/NCR , Digital
                    Marketing Training in Delhi/NCR , Web Development Training in Delhi/NCR , Android App Development
                    Training in Delhi/NCR and many more .</p>
            </span>
        </div>
        <div class="col-4">
               <form>
                   <p class="text-center enquiry">Enquire Here</p>
                   <div class="form-group">
                     <label for="name">Name</label>
                     <input type="text" placeholder=" please enter your name" class="form-control">
                   </div>
                   <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" placeholder=" please enter your email" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="name">Contact No.</label>
                    <input type="text" placeholder=" please enter your contact" class="form-control">
                  </div>
                  <button class="btn-2 rounded-pill">Submit</button>
               </form>
        </div>
    </div>

</div>